/** Setting Header Styles **/

header {
  color: #fff;
  padding-bottom: 20px;
}

header .top {
  background: #73CEDA;
  margin: 0 0 20px 0;
  padding: 10px 0 10px 0;
  border-bottom: solid 1px #3BBACB;
}

.main a, .main a:visited { color: #73CEDA; }

/** Setting Global Fonts For Paragraphs & Headers **/

p {
  font-family: 'Libre Baskerville', sans-serif; /* 400,700 */
  font-weight: 400;  
}

h1, h2, h3, h4, h5, h6 {
  color: #444;
  font-family: 'Sintony', serif; /* 400,700 */
  font-weight: 700;  
}

/** Setting Content Styles **/

p {
  font-size: 1.2em;
  letter-spacing: normal;
  line-height: 1.6em;
}

.toc ul {
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none;
}

.toc a {
  display: block;
}

.excerpts > div {
  margin-bottom: 3em;
}