<!-- core navigation -->
<ul class="nav">
  <li {% if page.title == 'Getting Started' %} class="active" {% endif %} ><a href="{% post_url 2013-09-10-getting-started %}"><span class="illy illy-vision"></span><span class="icon-workflow"></span><h3>Getting Started</h3></a></li>
  <li {% if page.title == 'Vision' %} class="active" {% endif %} ><a href="{% post_url 2013-09-25-principles %}"><span class="illy illy-vision"></span><span class="icon-vision"></span><h3>Vision</h3></a></li>
</ul>

<ul class="nav-accordion">
  {% include process-outline.html %} 
</ul>
