<!-- core navigation -->
<ul class="nav nav-pills nav-stacked">
  <li {% if page.title == 'Vision' %} class="active" {% endif %} ><a href="{% post_url 2013-09-25-principles %}"><span class="illy illy-vision"></span><span class="icon-vision"></span><h2>Vision</h2></a></li>
  <li {% if page.title == 'Getting Started' %} class="active" {% endif %} ><a href="{% post_url 2013-09-25-principles %}"><span class="illy illy-vision"></span><span class="icon-vision"></span><h2>Getting Started</h2></a></li>
</ul>

<ul class="nav-accordion">
  {% include process-outline.html %} 
</ul>
