
<li class="parent active">1. Plan</li>

<li><a href="/plan-business-goals/">Understanding Business Goals</a></li>

<li class="active"><a href="/plan-customer-discovery/ ">Customer Discovery</a></li>

<li><a href="/plan-designing-the-solution/">Designing the Solution</a></li>

<li><a href="/plan-building-the-team/">Building the Team</a></li>

<li><a href="/plan-defining-the-workflow/">Project Workflow</a></li>

<li class="parent">2. Setup</li>

<li><a href="/setup-product-roadmap/">Product Roadmap</a></li>

<li><a href="/design-interaction/">Interaction Design</a></li>

<li><a href="">App Framework Setup</a></li>

<li><a href="">Infrastructure Setup</a></li>

<li class="parent">3. Build</li>

<li><a href="/design-visual/">Visual Design</a></li>

<li><a href="">Front-end</a></li>

<li><a href="">Development</a></li>

<li><a href="/build-weekly-demo">Weekly Demo & Feedback</a></li>

<li class="parent">4. Launch</li>

<li><a href="/launch-production-checklist">Production Checklist</a></li>

<li class="parent">5. Analyze</li>

<li><a href="/analyze-dashboarding/">Dashboarding</a></li>

<li><a href="">Performance Monitoring</a></li>

<li><a href="">Optimization</a></li>