
/** Global Fonts For Paragraphs & Headers **/

html, body {
  height: 100%;
}

body {
  background: lighten($primary,11);
  position: relative;  
}

/** Layout **/

body > .row {
  margin-right: 0;
}

.main {
  padding: 2em 1em;
  position: relative;  

  section {
    background-color: darken($white,2%);
    border-radius: 2px;
    border-top: 1px solid $white;
    @include box-shadow(0 0 7px rgba(0,0,0, .40));
    max-width: 900px;  
    min-height: 640px;  
    padding: 2em;
  }

  p {
    max-width: 750px;
  }
  
}

section h1 {
  display: block;
}

.index {
  background-color: darken($white,2%);
  min-height: 100%;

  ul {
    font-size: .85em;
    margin: 0;
    padding: 5em 1em 1em;
  }
  li {
    list-style: none;
    margin-bottom: .8em;
    &:first-child {
      margin-bottom: 1.4em;
    }
  }
  
  a, a:visited {
    color: lighten($body-text,50);    
  }
  a:hover, a:focus {
    color: $body-text;        
    text-decoration: none;
  }
}

@media (min-width: 991px) {

  body > .row, .head-vertical {
    height: 100%;
  }

  .head-vertical {
    position: fixed;
  }
  
  .main {
    margin-left: 24%;
  }

}

/** Full Width Body Styles **/

body.full {
  background: $primary url(/assets/images/bg_harbor.jpg) center bottom no-repeat;
  @include background-size(cover);
  color: #0D1F26;
}

.banner {
  margin-bottom: 4em;
}

/* :FEATURE ITEMS */

.features ul {
  margin: 0 auto;
  padding: 0;
}

.features ul li {
  display: inline-block;
  float: left;
  margin: 0;
  text-align: center;
  width: 25%;
  
  a {
    border-radius: 3px;  
    display: inline-block;
    height: 100%;
    width: 100%;
    
    &:hover {
      background-color: darken($blue,5);
      background-color: rgba(0, 0, 0, .10);
      text-decoration: none;
      
      @include transition(all .2s ease-in);
    }
  }
}

.features span[class*="icon-"] {
  display: none;
}

.illy {
  display: inline-block;
  height: 200px;
  width: 200px;
  
  .main & {
    width: 100%;
  }
}

.illy-vision {
  background: url(../images/illo-principles.png) no-repeat center top;
}

/** Header Styles **/

header .top {
  margin: 0 0 1em 0;
  padding: 2.5em 0 0;
  text-align: center;
  
  h2 {
    color: $white;
    margin-bottom: 0;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  p {
    color: lighten($primary,40);
    font-style: italic;
    margin-top: 1em;
  }
  img {
    margin-left: 0.4em;
  }
}

.head-vertical h3 {
  display: inline;
}

.head-vertical span.illy {
  display: none;
}

/** Nav Styles **/
[class*="icon-"] {
  color: $blue-light;
}

.nav li {
  margin: 0.2em 0;
}
.nav > li > a {
  padding: .2em 1em;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: lighten($primary,8);

  [class*="icon-"] {
    color: $white;
  }
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: darken($primary,4%);  
}

ul.nav-accordion {
  background: darken($primary,2);
  border-radius: 3px;
  margin-top: 1em;
  padding-left: 0;
  
  li {
    font-size: .85em;
    list-style: none;
  }
  
  li.parent {
    margin: 0;
    
    h3 {
      background-color: lighten($primary,2);
      box-shadow: 0 1px 0 rgba(0,0,0, 0.05);
      display: block;
      margin: 0;
      padding: 1.2em;
      text-transform: uppercase;         
    }
    
    &:first-child h3 {
      border-radius: 3px 3px 0 0;      
    }
    
    &:last-child h3 {
      border-radius: 0 0 3px 3px;      
    }     
  }
  
  ul {
    display: none;
    margin: 0;
    padding: 0 0 0.2em;
    
    li {
      padding-left: 2.3em;
      padding-right: 1em;          
    }
  }
  
  li.active > ul {
    display: block;
  }
}

/** Table of Content Styles (toc) **/
.toc {
  display: inline-block;
  margin-bottom: 2em;
}

.toc ul {
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none;
  
  li {
    display: inline-block;
    float: left;
    margin-bottom: 0.4em;
    margin-right: 1em;
  }
}

.toc a {
  display: block;
}

.excerpts > div {
  margin-bottom: 3em;
}


// Pagination

.pagination {
  border-radius: 0;
  border-top: 1px solid $blue-medium;
  display: block;
  margin: 1em 0 0;
  padding-top: 1em;
  width: 100%;
}

.prev {
  float: left;
}

.next {
  float: right;
}

/** Footer Styles **/

footer {
  border-top: 1px solid $primary;
  margin-top: 4em;
  padding: 1.4em 0;
  
  ul {
    margin: 0;
    padding: 0;
    
    li {
      display: inline-block;
      float: left;
      margin-right: 2em;
    }
  }
}
