/* Colors */

$blue: #2C3E50;
$blue-dark: #0D1F26;
$blue-light: #8CC2D9;

$gray: #424242;
$purple-light: #EBD5F1;
$red: #C3554B;
$white: #FCFBF7;


/* Branding */
$primary: $blue;

/* Global */
$body-text: $blue-dark;