/* Colors */

$blue: #2C3E50;
$blue-dark: #0D1F26;
$blue-light: darken(#8CC2D9,11);

$gray: #424242;
$purple-light: #EBD5F1;
$red: #C3554B;
$white: #FCFBF7;


/* Branding */
$primary: $blue;

/* Typography */
$body-text: $blue-dark;
$sans-serif-font: 'Open Sans', sans-serif; // 300,400italic,400,700
$serif-font: 'Domine', serif; // 400,700