/* Compass Mixins */
/* Initialize */
/* Colors */
body {
  color: #424242;
  font-family: 'Open Sans', sans-serif;
  /* 300,400italic,400,700 */
  font-size: 16px;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  color: #444;
  font-family: 'Asap', sans-serif;
  /* 400italic,400,700 */
  font-weight: 700;
}

h1 {
  color: #8cc2d9;
  font-family: 'Nothing You Could Do', serif;
  /* 400 */
  font-size: 4.2em;
}

h3 {
  font-weight: 700;
}

body.full h2, body.full p {
  color: #fcfbf7;
}

header {
  color: #fcfbf7;
}

footer {
  color: #5c5c5c;
  font-size: .85em;
}

p {
  font-size: 1.2em;
  letter-spacing: normal;
  line-height: 1.6em;
  margin-bottom: 1.4em;
}

blockquote p {
  line-height: 1.6em;
}

.toc li {
  border-left: 1px solid #eee8d2;
  font-size: .80em !important;
  font-weight: normal;
  padding-left: 1em;
}
.toc li:first-child {
  border-left: none;
  padding-left: 0;
}

/** Global Fonts For Paragraphs & Headers **/
html, body {
  height: 100%;
}

/** Layout **/
body > .row {
  margin-right: 0;
  position: relative;
}

.head-vertical {
  background: #2c3e50 url(/assets/images/bg_harbor.jpg) center bottom no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-box-shadow: inset black -2px 0 3px -2px;
  -moz-box-shadow: inset black -2px 0 3px -2px;
  box-shadow: inset black -2px 0 3px -2px;
  position: relative;
}

.main {
  padding: 2em;
  position: relative;
}
.main p {
  max-width: 750px;
}

.index {
  background-color: #f9f7f0;
  min-height: 100%;
}
.index ul {
  font-size: .85em;
  margin: 0;
  padding: 5em 1em 1em;
}
.index li {
  list-style: none;
  margin-bottom: .8em;
}
.index li:first-child {
  margin-bottom: 1.4em;
}
.index a, .index a:visited {
  color: #c2c2c2;
}
.index a:hover, .index a:focus {
  color: #424242;
  text-decoration: none;
}

@media (min-width: 991px) {
  body > .row, .head-vertical {
    height: 100%;
  }

  .head-vertical {
    position: fixed;
  }

  .main {
    margin-left: 33.33333333333333%;
  }
}
/** Full Width Body Styles **/
body.full {
  background: #2c3e50 url(/assets/images/bg_harbor.jpg) center bottom no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #0D1F26;
}

.banner {
  margin-bottom: 4em;
}

/* :FEATURE ITEMS */
.features ul {
  margin: 0 auto;
  padding: 0;
}

.features ul li {
  display: inline-block;
  float: left;
  margin: 0;
  text-align: center;
  width: 25%;
}

/** Header Styles **/
header {
  padding-bottom: 1em;
}

header .top {
  margin: 0 0 20px 0;
  padding: 2em 0;
}

/** Footer Styles **/
footer {
  border-top: 1px solid #5c5c5c;
  margin-top: 4em;
  padding: 1.4em 0;
}
footer ul {
  margin: 0;
  padding: 0;
}
footer ul li {
  display: inline-block;
  float: left;
  margin-right: 2em;
}

/** Content Styles **/
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #3e5771;
}

.head-vertical span.illy {
  display: none;
}

/** Content Styles **/
a, a:visited {
  color: #8cc2d9;
}

.toc ul {
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none;
}
.toc ul li {
  display: inline-block;
  float: left;
  margin-bottom: 0.4em;
  margin-right: 1em;
}

.toc a {
  display: block;
}

.excerpts > div {
  margin-bottom: 3em;
}
