{% include header.html %}

<body>
  
  <div class="row">
    <div class="col-md-4 head-vertical">
      <header>
        <div class="top">
          <div class="container">
            <a href="/"><img src="/assets/images/logo.svg"></a>
          </div>
        </div>
      </header>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul class="nav nav-pills nav-stacked">
              {% include core-nav.html %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-md-7 main">   
      <div class="row">
        <div class="col-md-12">
          <div class="toc"></div>
        </div>
      </div>
    
      <!-- from index.html -->    
      {{content}}
      
      {% include footer.html %}      
    </div>
    
    <div class="col-md-1 index">
      <div class="index">
        <ul>
          <li><h3>Index</h3></li>
        	<li><a href="#">keyword</a></li>
        	<li><a href="#">keyword</a></li>
        	<li><a href="#">keyword</a></li>
        	<li><a href="#">keyword</a></li>
        	<li><a href="#">keyword</a></li>
        	<li><a href="#">keyword</a></li>
        </ul>
      </div>        
    </div>
    
  </div>
  
</body>

{% include closing.html %}