{% include header.html %}

<body>
  
  <div class="row">
    <div class="col-md-3 head-vertical">
      <header>
        <div class="top">
          <div class="container">
            <a href="/"><img src="/assets/images/logo.svg"></a>
          </div>
        </div>
      </header>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            {% include core-nav.html %}
          </div>
        </div>
      </div>

    </div>
    
    <div class="col-md-9 main">   
    
      <!--<div class="row">
        <div class="col-md-12">
        <div class="illy illy-{{ page.title | downcase }}"></div>
        
        </div>
      </div>-->
    
      <!-- from index.html -->    
      <section>
      {{content}}
      </section>
      
      {% include footer.html %}      
    </div>
    
    <!--<div class="col-md-1 index">
      
      <div class="index">
        <ul>
          <li><h3>Index</h3></li>
        	<li><a href="#">hardcoded keyword</a></li>
        </ul>
      </div>        
      
    </div>-->
    
  </div>
  
</body>

{% include closing.html %}